{% include 'elongoApp/header_template.html' %}
<body>
{% block content %}
    <br>
    <div class="container" align="center" style="border-style: solid;
  border-width: 1px; border-color: black">
    <br><br>
    <h2>New city</h2>
        <img src="http://dontmakeplansfor2018.com/wsp_images/city.png" height="200" width="300">
        <br><br><br>
    <form method="POST" class="form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mb-2">Save</button>
    </form>
    </div>
{% endblock %}
{% include 'elongoApp/footer_template.html' %}
</body>