{% include 'elongoApp/header_template.html' %}
<body>
{% block content %}
    <br>
    <div class="container" align="center" style="border-style: solid;
  border-width: 1px; border-color: black">
    <br><br>
    <h2>Compare</h2>
    <form method="POST" class="form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-dark">Generate graph!</button>
    </form>
    </div>

    {% if graph %}
        <div class="container" align="center" style="width:600px;height:500px">
            {{ graph|safe }}
        </div>
    {% endif %}
{% endblock %}
{% include 'elongoApp/footer_template.html' %}
</body>